/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif;
}

/* Hero Section */

header {
    background-color: #F0F2F5;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    margin-left: -28px;
}

.logo {
    height: 106px;
    width: 301px;
    margin-bottom: -10px;
}

.login-left h2 {
    font-size: 28px;
    color: #1c1e21;
    font-weight: normal;
    line-height: 32px;
}

.login-right p {
    font-size: 14px;
}

.login-right p strong {
    font-weight: bolder;
}

form {
    background-color: #ffff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px !important;
}

.create-new-btn {
    height: 20px;
}

.create-new-btn a {
    background-color: #42b72a;
    color: #ffff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 12px 16px;
    font-weight: bolder;
}

.create-new-btn a:hover {
    text-decoration: none !important;
    color: #fff !important;
}

.btn-login {
    font-size: 20px !important;
    font-weight: 700 !important;
}

/* Footer */
ul {
    line-height: 0 !important;
}

ul li{
    display: inline-block;
    padding-right: 10px;
    color: #8a8d91;
    font-size: 12px;
    line-height: 1.34 !important;
}

footer p {
    font-size: 11px;
    color: #737373;
    font-weight: bold;
}