/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    scroll-behavior: smooth;
}

/* Hero Section */
header {
    background-color: #232323;
}

.hero {
    max-width: 80%;
}

.hero-right h1 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 170px;
}

.hero-right h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #B0B0B0;
    line-height: 48px;
}

.hero-right p {
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #B0B0B0;
    line-height: 48px;
}

.hero-right a {
    vertical-align: middle;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 10px;
}

/* Timeline Section */
.tl-container {
    max-width: 80%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-top: 100px !important;
    margin: 0 auto;
}

.timeline h1{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

ul {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}

/* Footer */
footer {
    background: #232323;
}

footer p {
    color: #B0B0B0;
}